<?xml version="1.0" encoding="utf-8"?>

<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="cors:allowedMethed" value="*" />
  <add key="cors:allowedOrigin" value="*" />
  <add key="cors:allowedHeaders" value="*" />
  <!--RabbitMQ-->
  <add key="RabbitMQ_HostName" value="localhost"/>
  <add key="RabbitMQ_UserName" value="puss"/>
  <add key="RabbitMQ_PassWord" value="woaiZIJI.234"/>
  <!--缓存配置-->
  <add key="RedisServer" value="127.0.0.1:6379" />
  <add key="XRedisDB" value="0" />
  <add key="REDIS_CACHE_PASSWORD" value="" />
</appSettings>

