
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

<link href="~/Scripts/assets/plugins/MultiImageUploading/new/webuploader.css" rel="stylesheet" />
<!--dom结构部分-->
<div id="uploader-demo">
</div>
