
@{
    ViewBag.Title = "关于我们_越南专线|越南跨境购|越南工业品采购|跨境物流链";
    ViewBag.Description = "【跨境物流链】专注越南专线,泰国专线,老挝专线柬埔寨专线,工业品采购,五金采购,跨境国际陆运,越南工业品采购越南跨境购,路运,送货到门,包清关,货到付款等增值服务";
    ViewBag.Keywords = "越南专线-泰国专线-老挝专线-柬埔寨专线-工业品采购-五金采购-跨境国际陆运-越南工业品采购-越南跨境购";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
<div class="page_banner">
    <!--banner-->
    <div class="com_page_banner about_us_banner">
        <div class="wrapper">
            <h2>
                关于我们
            </h2>
            <p class="animated bounceInDown go">
                About Us
            </p>
        </div>
    </div>
    <!--banner结束-->
</div>
<section>
    <div class="project_intro">
        <div class="wrapper">
            <div class="about_us_title">
                <h1>
                    项目介绍
                </h1>
                <h2>
                    project introduction
                </h2>
            </div>
            <div class="project_intro_info">
                <p>
                    广西正广捷供应链管理有限公司是在传统的国际物流运输业务模式上进行重新创新，依托互联网技术和资源整合能力，为进出口制造企业与商贸企业、货代、报关报检企业、运输企业提供信息技术、全国通关、物流资源配置、关务与供应链咨询、供应链金融等一站式跨境服务，帮助客户提升贸易合规水平、提高通关效率并降低供应链整体运作成本。 整体服务于东盟各国经销商，中小型企业国内外物资采购与物流配送，以陆运方式从中国到越南、老挝、柬埔寨、泰国等多个国家实现跨境门到门服务的国际供应链物流。
                </p>
            </div>
            <div class="project_intro_list">
                <ul class="clearfix">
                    <li>
                        <a> </a>
                        <div class="project_intro_list_img">
                            <img alt="" src="/uploads/allimg/180201/17-1P201103351304.png" style="width: 100px; height: 100px;" />
                        </div>
                        <div class="project_intro_list_item">
                            <p>
                                <a>可视化物流跟踪</a>
                            </p>
                            <p>
                                <a>并实时通知物流变化</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <a> </a>
                        <div class="project_intro_list_img">
                            <img alt="" src="/uploads/allimg/180201/17-1P2011034022G.png" style="width: 100px; height: 100px;" />
                        </div>
                        <div class="project_intro_list_item">
                            <p>
                                <a>最大限度降低物流成本</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <a> </a>
                        <div class="project_intro_list_img">
                            <img alt="" src="/uploads/allimg/180201/17-1P201103410N8.png" style="width: 100px; height: 100px;" />
                        </div>
                        <div class="project_intro_list_item">
                            <p>
                                <a>智能生成物流方案</a>
                            </p>
                            <p>
                                <a>让货物快速通关和送达</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <a> </a>
                        <div class="project_intro_list_img">
                            <img alt="" src="/uploads/allimg/180201/17-1P20110341H53.png" style="width: 100px; height: 100px;" />
                        </div>
                        <div class="project_intro_list_item">
                            <p>
                                <a>先行赔付路途中的损件丢件</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <a> </a>
                        <div class="project_intro_list_img">
                            <img alt="" src="/uploads/allimg/180201/17-1P201103424321.png" style="width: 100px; height: 100px;" />
                        </div>
                        <div class="project_intro_list_item">
                            <p>
                                <a>24小时上门揽收</a>
                            </p>
                            <p>
                                <a>1对1客服</a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="brand_box">
        <div class="wrapper">
            <div class="about_us_title">
                <h1>
                    品牌形象
                </h1>
                <h2>
                    brand image
                </h2>
            </div>
            <div class="brand_info_list">
                <ul class="clearfix">
                    <li>
                        <img alt="" src="/uploads/allimg/180201/17-1P201100505915.jpg" />
                        <figure class="brand_info_item">
                            <h3>
                                <a><b>愿景</b> <span>vision</span> </a>
                            </h3>
                            <p>
                                <a>让贸易更智慧</a>
                            </p>
                        </figure>
                    </li>
                    <li>
                        <img alt="" src="/uploads/allimg/180201/17-1P20110054HR.jpg" style="height: 250px; width: 422px;" />
                        <figure class="brand_info_item">
                            <h3>
                                <a><b>定位</b> <span>location</span> </a>
                            </h3>
                            <p>
                                <a>智能跨境物流的践行者</a>
                            </p>
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="contant_us_box">
        <div class="wrapper">
            <div class="about_us_title">
                <h1>
                    联系我们
                </h1>
                <h2>
                    contact us
                </h2>
            </div>
            <div class="contant_us_list">
                <ul class="clearfix">
                    <li>
                        <h5>
                            电话
                        </h5>
                        <p>
                            0771-2875665 &nbsp; &nbsp; &nbsp; &nbsp;18107710169
                        </p>
                    </li>
                    <li>
                        <h5>
                            地址
                        </h5>
                        <p>
                            南宁市高新区高科路8号南宁创客城电子产业园2号楼2层ZH161号
                        </p>
                    </li>
                    <li>
                        <h5>
                            邮箱
                        </h5>
                        <p>
                            shibing0448@gmail.com
                        </p>
                    </li>
                    <li>
                        <h5>
                            网址
                        </h5>
                        <p>
                            cp-56.com
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<br />
