
@{
    ViewBag.Title = "双清关_越南专线|越南跨境购|越南工业品采购|跨境物流链";
    ViewBag.Description = "【跨境物流链】专注越南专线,泰国专线,老挝专线柬埔寨专线,工业品采购,五金采购,跨境国际陆运,越南工业品采购越南跨境购,路运,送货到门,包清关,货到付款等增值服务";
    ViewBag.Keywords = "越南专线 - 泰国专线 - 老挝专线 - 柬埔寨专线 - 工业品采购 - 五金采购 - 跨境国际陆运 - 越南工业品采购 - 越南跨境购";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

<div class="page_banner">
    <!--banner-->
    <div class="first_operat_banner1">
        <div class="wrapper">
            <div class="first_operat_position">
                <img alt="" src="/uploads/allimg/180308/17-1P30Q25215621.png" style="width: 714px; height: 341px;" />
            </div>
        </div>
    </div>
    <!--banner结束-->
</div>
<!--方法论-->
<section>
    <div class="Method_box">
        <div class="wrapper">
            <div class="first_advantage_tit">
                <h3>
                    基本流程
                </h3>
                <p>
                    <img alt="" src="/uploads/allimg/180131/1-1P131092255500.png" />
                </p>
                <p class="font_tips">
                    双清主要指起运地到目的地到门的服务方式.包含了: 起运地报关-运输-目的地清关-派送等服务.双清关服务解决了中小企业订单从中国至东南亚各国目的地的一站式CFS-DOOR的专业贸易物流解决方案。 双清关服务适用于中小企业甚至与个人的中小微订单及样品单，实现集货、通关、运输、配送一站轻松搞定。
                </p>
            </div>
            <div class="Method_list">
                <figure class="clearfix">
                    <div class="Method_list_img">
                        <img alt="" src="/uploads/allimg/180308/17-1P30Q32G0D7.jpg" style="width: 420px; height: 276px;" />
                    </div>
                    <div class="Method_list_msg">
                        <p>
                            中国港口仓库交货--装柜-报关-海运出口-目的港清关-缴税-仓库分拨-派送到门。
                        </p>
                        <p>
                            深圳,广州,义乌,上海,东莞,宁波,厦门,福州,青岛,天津..等.。 　　
                        </p>
                        <p>
                            让出口不再难,中小企业无进出口权的情况下也可以轻松安排出口运输.。
                        </p>
                    </div>
                    <div class="Method_list_pos">
                        1
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>
<!--方法论结束-->
