
@{
    ViewBag.Title = "报关报检_越南专线|越南跨境购|越南工业品采购|跨境物流链";
    ViewBag.Description = "【跨境物流链】专注越南专线,泰国专线,老挝专线柬埔寨专线,工业品采购,五金采购,跨境国际陆运,越南工业品采购越南跨境购,路运,送货到门,包清关,货到付款等增值服务";
    ViewBag.Keywords = "越南专线-泰国专线-老挝专线-柬埔寨专线-工业品采购-五金采购-跨境国际陆运-越南工业品采购-越南跨境购";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

<!--banner-->
<div class="first_operat_banner1">
    <div class="wrapper">
        <div class="first_operat_position">
            <img alt="" src="/uploads/allimg/180308/17-1P30Q24456424.png" style="width: 714px; height: 341px;" />
        </div>
    </div>
</div>
<!--banner结束--></div>
<!--方法论-->
<section>
    <div class="Method_box">
        <div class="wrapper">
            <div class="first_advantage_tit">
                <h3>
                    基本流程
                </h3>
                <p>
                    <img alt="" src="/uploads/allimg/180131/1-1P131092255500.png" />
                </p>
                <p class="font_tips">
                    一、国际陆运报关报检基本流程 出口商品在报验时，一般应提供外贸合同(或售货确认书及函电)、信用证原本的复印件或副本，必要时提供原本。合同如果有补充协议的要提供补充的协议书;合同、信用证有更改，要提供合同、信用证的修改书或更改的函电。对订有长期贸易合同而采取记帐方式结算的，各外贸进出口公司每年一次将合同副本送交商检机构。申请检验时，只在申请单上填明合同号即可，不必每批附交合同副本。凡属危险或法定检验范围内的商品，在申请品质，规格，数量，重量，安全，卫生检验时，必须提交商检机构签发的出口商品包装性能检验合格单证，商检机构凭此受理上述各种报验手续。
                </p>
            </div>
            <div class="Method_list">
                <figure class="clearfix">
                    <div class="Method_list_img">
                        <img alt="" src="/uploads/allimg/180308/17-1P30Q31959206.jpg" style="width: 420px; height: 276px;" />
                    </div>
                    <div class="Method_list_msg">
                        <p>
                            1.凭此成交的商品，须提供经国外买方确认，双方签封或合同，信用证已明确须经商检机构签封的样品.临时看样成交的商品，申请人还必须将样品的编号，号码送交商检机构一份。对于服装、纺织品、皮鞋、工艺品等商品，在报验时还应提交文字表达不了的样卡、色卡或实物样品。
                        </p>
                        <p>
                            2.属于必须向商检机构办理卫生注册和出口商品质量许可证的商品，报验时必须提供商检机构签发的卫生注册证书或出口质量许可证编号和厂检合格单。冷冻、水产、畜产品和罐头食品等须办理卫生时，必须交附商检机构签发的卫生注册证书和厂检合格单。 　　
                        </p>
                        <p>
                            3.经发运地商检机构检验合格的商品，需在口岸申请换证的，必须交附发运地商检机构签发的&ldquo;出口商品检验换证凭单&rdquo;(简称&ldquo;换证凭单&rdquo;)正本。
                        </p>
                    </div>
                    <div class="Method_list_pos">
                        1
                    </div>
                </figure>
                <figure class="clearfix Method_two">
                    <div class="Method_list_img">
                        <img alt="" src="/uploads/allimg/180308/17-1P30Q3233Lb.jpg" style="width: 420px; height: 276px;" />
                    </div>
                    <div class="Method_list_msg">
                        <p>
                            4.经生产经营部门检验的，应提交其检验结果单。 　　
                        </p>
                        <p>
                            5.第一次检验不合格，经返工整理后申请重新检验的，应交附原来的商检机构签发的不合格通知单和返工整理记录。 　
                        </p>
                        <p>
                            6.申请重量/数量鉴定的，应交附重量明细单、装箱单等资料。 　　
                        </p>
                        <p>
                            7.申请积载鉴定、监视装载的，应提供配载图、配载计划等资料。 　　
                        </p>
                        <p>
                            8.申请出口商品包装使用鉴定的，应交附商检机构签发的包装性能检验合格单。 　　
                        </p>
                        <p>
                            9.申请委托检验时，报验人应填写&ldquo;委托检验申请单&rdquo;并提交检验样品、检验标准和方法。国外委托人在办理委托检验手续时还应提供有关函电、资料。
                        </p>
                    </div>
                    <div class="Method_list_pos">
                        2
                    </div>
                </figure>
            </div>
        </div>
        <div class="wrapper">
            <div class="first_advantage_tit">
                <h3>
                    按行业分类
                </h3>
                <p>
                    <img alt="" src="/uploads/allimg/180131/1-1P131092255500.png" />
                </p>
                <p class="font_tips">
                    二、按行业分类 根据客户的行业不同进行分类服务，配备专业团队进行服务,每个团队都配备特聘在本行业通关工作10年以上的专业人员,以&ldquo;为客户提供专业、细致、精确的服务，创造超客户期望的体验&rdquo;的服务宗旨进行服务客户。
                </p>
            </div>
            <div class="Method_list">
                <figure class="clearfix">
                    <div class="Method_list_img">
                        <img alt="" src="/uploads/allimg/180131/1-1P13109235Ec.png" />
                    </div>
                    <div class="Method_list_msg">
                        <p>
                            A. 电子机械 涉及的业务有：涉及ccc国家强制性认证、旧机电产品、两用物项产品、机电产品自动进口许证等业务。代表性客户：索尼、捷普电子、乐金。
                        </p>
                        <p>
                            B. 食品类 涉及的业务有：标签审核、产品的抽样、食品贸易代理等业务，代表性客户：美赞臣、屈臣氏，融生酒业。
                        </p>
                        <p>
                            C. 化工类 涉及的业务有：危化品鉴定、涂料备案、化妆品备案。代表性客户：国际香料、陶氏、立邦。
                        </p>
                        <p>
                            D. 汽配类 汽车配件种类繁多，专业的商品归类服务,熟悉进口汽车配件操作流程，降低进口风险，有效管控报关进度。代表性客户：本田、日产、丰田。
                        </p>
                    </div>
                    <div class="Method_list_pos">
                        3
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>
<!--方法论结束-->
