
@{
    ViewBag.Title = "终端配送_越南专线|越南跨境购|越南工业品采购|跨境物流链";
    ViewBag.Description = "【跨境物流链】专注越南专线,泰国专线,老挝专线柬埔寨专线,工业品采购,五金采购,跨境国际陆运,越南工业品采购越南跨境购,路运,送货到门,包清关,货到付款等增值服务";
    ViewBag.Keywords = "越南专线-泰国专线-老挝专线-柬埔寨专线-工业品采购-五金采购-跨境国际陆运-越南工业品采购-越南跨境购";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
<div class="page_banner">
    <!--banner-->
    <div class="first_operat_banner">
        <div class="wrapper">
            <div class="first_operat_position">
                <img alt="" src="/uploads/allimg/180308/17-1P30Q3124S63.png" style="width: 714px; height: 341px;" />
            </div>
        </div>
    </div>
    <!--banner结束-->
</div>
<!--我们的优势-->
<section>
    <div class="first_advantage_box">
        <div class="wrapper">
            <div class="first_advantage_tit">
                <h3>
                    我们的优势
                </h3>
                <p>
                    <img alt="" src="/uploads/allimg/180131/1-1P13109221KN.png" />
                </p>
            </div>
            <div class="first_advantage_info clearfix">
                <div class="first_advantage_info_left">
                    <p>
                        按照用户订单或配送协议进行配货,通过科学统筹规划,选择经济合理的运输路线与运输方式,在用户指定的时间内,将符合要求的货物送达指定地点。
                    </p>
                </div>
                <div class="first_advantage_info_img">
                    <img alt="" src="/uploads/allimg/180308/17-1P30Q41130429.jpg" style="width: 488px; height: 247px;" />
                </div>
            </div>
        </div>
    </div>
</section>
<!--我们的优势结果-->
<!--方法论-->
<section>
    <div class="Method_box">
        <div class="wrapper">
            <div class="first_advantage_tit">
                <h3>
                    方法论
                </h3>
                <p>
                    <img alt="" src="/uploads/allimg/180131/1-1P131092255500.png" />
                </p>
                <p class="font_tips">
                    一般送货可以是一种偶然的行为，而配送却是一种固定的形态，甚至是一种有确定组织、确定渠道，有一套装备和管理力量、技术力量，有一套制度的体制形式。
                </p>
            </div>
            <div class="Method_list">
                <figure class="clearfix">
                    <div class="Method_list_img">
                        <img alt="" src="/uploads/allimg/180308/17-1P30Q353045O.jpg" style="width: 420px; height: 276px;" />
                    </div>
                    <div class="Method_list_msg">
                        <h4>
                            资源配置
                        </h4>
                        <p>
                            推行配送有利于物流运动实现合理化;
                        </p>
                        <p>
                            完善了运输和整个物流系统;
                        </p>
                        <p>
                            提高了末端物流的效益;
                        </p>
                    </div>
                    <div class="Method_list_pos">
                        1
                    </div>
                </figure>
                <figure class="clearfix Method_two">
                    <div class="Method_list_img">
                        <img alt="" src="/uploads/allimg/180308/17-1P30Q353112U.jpg" style="width: 420px; height: 276px;" />
                    </div>
                    <div class="Method_list_msg">
                        <h4>
                            配送作用
                        </h4>
                        <p>
                            通过集中库存使企业实现低库存或零库存;
                        </p>
                        <p>
                            简化事务，方便用户;
                        </p>
                        <p>
                            提高供应保证程度;
                        </p>
                    </div>
                    <div class="Method_list_pos">
                        2
                    </div>
                </figure>
                <figure class="clearfix">
                    <div class="Method_list_img">
                        <img alt="" src="/uploads/allimg/180308/17-1P30Q353195U.jpg" style="width: 420px; height: 276px;" />
                    </div>
                    <div class="Method_list_msg">
                        <h4>
                            管理制度
                        </h4>
                        <p>
                            库务依据商品拣货汇总表于储区进行拣货作业;
                        </p>
                        <p>
                            依区域路线，将多张销货单依商品类别将数量加总后进行拣取;
                        </p>
                        <p>
                            分货时，店名应标示清楚;
                        </p>
                        <p>
                            以先进先出方式拣货;
                        </p>
                    </div>
                    <div class="Method_list_pos">
                        3
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>
<!--方法论结束-->
<!--我们正在运作的品牌-->
<section>
    <div class="brand_operate_box">
        <div class="first_advantage_tit">
            <h3>
                我们正在运作的品牌
            </h3>
            <p>
                <img alt="" src="/uploads/allimg/180131/1-1P131092412646.png" />
            </p>
        </div>
        <div class="wrapper">
            <div class="brand_operate_info">
                <img alt="" src="/uploads/allimg/180131/1-1P131092435U6.jpg" />
            </div>
        </div>
    </div>
</section>
<!--我们正在运作的品牌结束-->