@{
    ViewBag.Title = "商品采购";
    ViewBag.Description = "【跨境物流链】专注越南专线,泰国专线,老挝专线柬埔寨专线,工业品采购,五金采购,跨境国际陆运,越南工业品采购越南跨境购,路运,送货到门,包清关,货到付款等增值服务";
    ViewBag.Keywords = "越南专线-泰国专线-老挝专线-柬埔寨专线-工业品采购-五金采购-跨境国际陆运-越南工业品采购-越南跨境购";
    Layout = "~/Views/Shared/ShopMaster.cshtml";
}
@using WL.Home.Models
@{
    List<CategoryModels> category = ViewData["category"] as List<CategoryModels>;
    List<CategoryModels> categoryOne = category.Where(p => p.Rank == 1).ToList();
    List<CategoryModels> categoryTwo = category.Where(p => p.Rank == 2).ToList();
    List<CategoryModels> categoryThree = category.Where(p => p.Rank == 3).ToList();
    List<CategoryModels> categoryFour = category.Where(p => p.Rank == 4).ToList();
    List<ShopModels> shop = ViewData["shop"] as List<ShopModels>;
}
<section class="index_tgb">
    <div>
        <div class="floor-goods-left" style="background-color: #f66d6e">
            <div class="floor-goods-left-title">
                @if (Model == 0)
                {
                    <a id="menuLeft">推荐商品</a>
                }
                else
                {
                    foreach (CategoryModels temp in category)
                    {
                        if (Model == temp.id)
                        {
                            <a id="menuLeft">@temp.Name</a>
                        }
                    }

                }
            </div>
            <div class="floor-goods-left-cate">
                @if (Model == 0)
                {
                    ;
                }
                else
                {
                    ShopModels ModelShop = new ShopModels();
                    CategoryModels ModelCategory = new CategoryModels();
                    foreach (ShopModels tempShop in shop)
                    {
                        if (tempShop.id == Model)
                        {
                            ModelShop = tempShop;
                        }
                    }
                    foreach (CategoryModels tempThree in categoryThree)
                    {
                        if (ModelShop.Catid == tempThree.id)
                        {
                            ModelCategory = tempThree;
                        }
                    }
                    foreach (CategoryModels tempTwo in categoryTwo)
                    {
                        if (tempTwo.id == ModelCategory.Parentid)
                        {
                            ModelCategory = tempTwo;
                        }
                    }
                    foreach (CategoryModels tempThree in categoryThree)
                    {
                        if (tempThree.Parentid == ModelCategory.id)
                        {
                            <a href="/s/c-50111013">@tempThree.Name</a>
                        }
                    }
                }
            </div>
            <img class="floor-goods-left-img" attr-json="{adverId: 277,type: 6}" src="https://image.vipmro.net//adver/d9ffedced05242afbcf16cf40937049b.jpg">
        </div>
        <div class="floor-goods-right" style="border-top:2px solid  #f66d6e">
            <div class="floor-goods-right-goods">
                <ul>
                    <li>
                        <a href="/product/569333" target="_blank">
                            <div class="floor-goods-right-goods-img">
                                <img src="https://image.vipmro.net/goodsImg/999999/50111013/10002wang/20170721/004a01!240240.jpg" data-lazy="https://image.vipmro.net/goodsImg/999999/50111013/10002wang/20170721/004a01!240240.jpg" style="display: inline-block;">
                            </div>
                            <span class="fgrg-title">施耐德 塑壳断路器 固定式；CVS100F 63A 4P</span>
                            <span class="fgrg-price"><font>¥557.33</font></span>
                        </a>
                    </li>
                    <li>
                        <a href="/product/1172580" target="_blank">
                            <div class="floor-goods-right-goods-img">
                                <img src="https://image.vipmro.net/goodsImg/906616/50111210/10004wu/20150522/007a01!240240.jpg" data-lazy="https://image.vipmro.net/goodsImg/906616/50111210/10004wu/20150522/007a01!240240.jpg" style="display: inline-block;">
                            </div>
                            <span class="fgrg-title">正泰 交流接触器；CJX2-2510 220V</span>
                            <span class="fgrg-price"><font>¥46.50</font></span>
                        </a>
                    </li>
                    <li>
                        <a href="/product/992168" target="_blank">
                            <div class="floor-goods-right-goods-img">
                                <img src="https://image.vipmro.net/goodsImg/999999/501111/10011fu/20180327/001a01!240240.jpg" data-lazy="https://image.vipmro.net/goodsImg/999999/501111/10011fu/20180327/001a01!240240.jpg" style="display: inline-block;">
                            </div>
                            <span class="fgrg-title">ABB TA系列热继电器；TA110DU-110 80-110A</span>
                            <span class="fgrg-price"><font>¥414.00</font></span>
                        </a>
                    </li>
                    <li>
                        <a href="/product/578100" target="_blank">
                            <div class="floor-goods-right-goods-img">
                                <img src="https://image.vipmro.net/goodsImg/501314/005a01!240240.jpg" data-lazy="https://image.vipmro.net/goodsImg/501314/005a01!240240.jpg" style="display: inline-block;">
                            </div>
                            <span class="fgrg-title">德力西电气 单相高精度全自动交流稳压器；TND 3K （单相）</span>
                            <span class="fgrg-price"><font>¥431.34</font></span>
                        </a>
                    </li>
                    <li>
                        <a href="/product/1621003" target="_blank">
                            <div class="floor-goods-right-goods-img">
                                <img src="https://image.vipmro.net/goodsImg/999999/50101811/10009liu/20180115/004a01!240240.jpg" data-lazy="https://image.vipmro.net/goodsImg/999999/50101811/10009liu/20180115/004a01!240240.jpg" style="display: inline-block;">
                            </div>
                            <span class="fgrg-title">罗格朗 32位终端配电箱(暗装)两排，不透明门；430006</span>
                            <span class="fgrg-price"><font>¥307.57</font></span>
                        </a>
                    </li>
                    <li>
                        <a href="/product/1017884" target="_blank">
                            <div class="floor-goods-right-goods-img">
                                <img src="https://image.vipmro.net/goodsImg/491919/501210/10003chen/20141027/060a01!240240.jpg" data-lazy="https://image.vipmro.net/goodsImg/491919/501210/10003chen/20141027/060a01!240240.jpg" style="display: inline-block;">
                            </div>
                            <span class="fgrg-title">欧姆龙 按钮开关；A16L-JGM-24D-1</span>
                            <span class="fgrg-price"><font>¥77.75</font></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="floor-goods-right-brand J_switchBrand11">
                <ul class="floor-goods-right-brand-top">
                    <li style="display: list-item; opacity: 0.0936529;">
                        <a href="/s/b-95?ran=20180429183531">
                            <img src="https://image.vipmro.net//static/images/brand/logos/ABB.jpg">
                        </a>
                        <a href="/s/b-97?ran=20180429183531">
                            <img src="https://image.vipmro.net//static/images/brand/logos/schneider.jpg">
                        </a>
                        <a href="/s/b-96?ran=20180429183531">
                            <img src="https://image.vipmro.net//static/images/brand/logos/siemens.jpg">
                        </a>
                        <a href="/s/b-103?ran=20180429183531">
                            <img src="https://image.vipmro.net//static/images/brand/logos/omron.jpg">
                        </a>
                        <a href="/s/b-105?ran=20180429183531">
                            <img src="https://image.vipmro.net//static/images/brand/logos/chnt.jpg">
                        </a>
                        <a href="/s/b-104?ran=20180429183531">
                            <img src="https://image.vipmro.net//static/images/brand/logos/delixi.jpg">
                        </a>
                        <a href="/s/b-205?ran=20180429183531">
                            <img src="https://image.vipmro.net//static/images/brand/logos/2015-01-APT.jpg">
                        </a>
                        <a href="/s/b-109?ran=20180429183531">
                            <img src="https://image.vipmro.net//static/images/brand/logos/philips.jpg">
                        </a>
                    </li>
                    <li style="display: list-item; opacity: 0.906347;">
                        <a href="/s/b-220?ran=20180429183531">
                            <img src="https://image.vipmro.net//static/images/brand/licences/phoenix.jpg">
                        </a>
                        <a href="/s/b-222?ran=20180429183531">
                            <img src="https://image.vipmro.net//static/images/brand/licences/mean.jpg">
                        </a>
                        <a href="/s/b-119?ran=20180429183531">
                            <img src="https://image.vipmro.net//static/images/brand/logos/sshang.jpg">
                        </a>
                        <a href="/s/b-250?ran=20180429183531">
                            <img src="https://image.vipmro.net//static/images/brand/logos/RiENT.jpg">
                        </a>
                        <a href="/s/b-214?ran=20180429183531">
                            <img src="https://image.vipmro.net//static/images/brand/licences/Weidmuller.jpg">
                        </a>
                        <a href="/s/b-230?ran=20180429183531">
                            <img src="https://image.vipmro.net//static/images/brand/licences/changhongsuliao.jpg">
                        </a>
                        <a href="/s/b-98?ran=20180429183531">
                            <img src="https://image.vipmro.net//static/images/brand/logos/mitsubishi-a.jpg">
                        </a>
                        <a href="/s/b-234?ran=20180429183531">
                            <img src="https://image.vipmro.net//static/images/brand/logos/FujiElectric.jpg">
                        </a>
                    </li>
                </ul>
                <div class="floor-goods-right-brand-point J_switchBrandPoint11">
                    <a href="javascript:;" class="on"></a>
                    <a href="javascript:void 0;" class="active"></a>
                </div>
                <a href="http://www.vipmro.com/search/?keyword=%25E6%25AC%25A7%25E5%25A7%2586%25E9%25BE%2599">
                    <img src="https://image.vipmro.net//adver/17bdc8b1a8a94d0dad1ec9cef8f0e993.jpg" class="right-ts-img">
                </a>
            </div>
        </div>
        <!-- if (homeFloorAdvers.length > 0 && homeFloorAdvers[0].bottomStatus == 1) (广告) -->
        <!-- if( homeFloorAdvers[0].bottomUrl ) -->
        <div class="clearfix"></div>
    </div>
</section>

