
@{
    ViewBag.Title = "东南亚专线_越南专线|越南跨境购|越南工业品采购|跨境物流链";
    ViewBag.Description = "【跨境物流链】专注越南专线,泰国专线,老挝专线柬埔寨专线,工业品采购,五金采购,跨境国际陆运,越南工业品采购越南跨境购,路运,送货到门,包清关,货到付款等增值服务";
    ViewBag.Keywords = "越南专线-泰国专线-老挝专线-柬埔寨专线-工业品采购-五金采购-跨境国际陆运-越南工业品采购-越南跨境购";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
<section>
    <div class="goods_item_box">
        <div class="wrapper clearfix">
            <div class="goods_item_list clearfix">
                <figure onclick="javascript:window.location.href='/laosroute.html';">
                    <div class="Our_products_list_img">
                        <img src="/uploads/180201/17-1P201160T5Z3.jpg" alt="老挝专线">
                    </div>
                    <div class=" goods_item_list_info">
                        <h3>老挝专线</h3>
                        <p>
                            全国各地提高上门提货服务，中国内地-老挝全境多式联运，运输时效4-7个工作日
                        </p>
                        <a href="/laosroute.html" class="more_detail">
                            更多
                        </a>
                    </div>
                </figure><figure onclick="javascript:window.location.href='/myanmarroute.html';">
                    <div class="Our_products_list_img">
                        <img src="/uploads/180202/17-1P2021K05RM.jpg" alt="缅甸专线">
                    </div>
                    <div class=" goods_item_list_info">
                        <h3>缅甸专线</h3>
                        <p>
                            陆运双清关时效稳定，提供门到门的一条龙服务，直达+目的地配送。
                        </p>
                        <a href="/myanmarroute.html" class="more_detail">
                            更多
                        </a>
                    </div>
                </figure><figure onclick="javascript:window.location.href='/cambodiaroute.html';">
                    <div class="Our_products_list_img">
                        <img src="/uploads/180202/17-1P2021JI0207.jpg" alt="柬埔寨专线">
                    </div>
                    <div class=" goods_item_list_info">
                        <h3>柬埔寨专线</h3>
                        <p>
                            陆运双清关时效稳定，提供门到门的一条龙服务，直达+目的地配送。
                        </p>
                        <a href="/cambodiaroute.html" class="more_detail">
                            更多
                        </a>
                    </div>
                </figure><figure onclick="javascript:window.location.href='/thailandroute.html';">
                    <div class="Our_products_list_img">
                        <img src="/uploads/180201/17-1P20116061H53.jpg" alt="泰国专线">
                    </div>
                    <div class=" goods_item_list_info">
                        <h3>泰国专线</h3>
                        <p>
                            中国-泰国陆运双清关，送货上门，运输时效5-7个工作日
                        </p>
                        <a href="/thailandroute.html" class="more_detail">
                            更多
                        </a>
                    </div>
                </figure><figure onclick="javascript:window.location.href='/vietnamroute.html';">
                    <div class="Our_products_list_img">
                        <img src="/uploads/180201/17-1P201153011O4.jpg" alt="越南专线">
                    </div>
                    <div class=" goods_item_list_info">
                        <h3>越南专线</h3>
                        <p>
                            双清包门到门，华东直达+目的地派送，运输时效4-7个工作日
                        </p>
                        <a href="/vietnamroute.html" class="more_detail">
                            更多
                        </a>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>

