
@{
    ViewBag.Title = "仓储_越南专线|越南跨境购|越南工业品采购|跨境物流链";
    ViewBag.Description = "【跨境物流链】专注越南专线,泰国专线,老挝专线柬埔寨专线,工业品采购,五金采购,跨境国际陆运,越南工业品采购越南跨境购,路运,送货到门,包清关,货到付款等增值服务";
    ViewBag.Keywords = "越南专线-泰国专线-老挝专线-柬埔寨专线-工业品采购-五金采购-跨境国际陆运-越南工业品采购-越南跨境购";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
<div class="page_banner">
    <!--banner-->
    <div class="first_operat_banner">
        <div class="wrapper">
            <div class="first_operat_position">
                <img alt="" src="/uploads/allimg/180308/17-1P30Q123141Y.png" style="width: 714px; height: 341px;" />
            </div>
        </div>
    </div>
    <!--banner结束-->
</div>

<!--我们的优势-->
<section>
    <div class="first_advantage_box">
        <div class="wrapper">
            <div class="first_advantage_tit">
                <h3>
                    我们的优势
                </h3>
                <p>
                    <img alt="" src="/uploads/allimg/180131/1-1P13109221KN.png" />
                </p>
            </div>
            <div class="first_advantage_info clearfix">
                <div class="first_advantage_info_left">
                    <p>
                        批发仓库主要是储存商业批发部门收购进来的商品，向零售商品或其他商业批发部门陆续供应。根据要货单位的要求，一般需要办理商品的续配、拆零、粉状、改装等业务。业务特点是数量小、批次多，吞吐频率高，大多设在消费地。
                    </p>
                </div>
                <div class="first_advantage_info_img">
                    <img alt="" src="/uploads/allimg/180308/17-1P30Q4111H58.jpg" style="width: 488px; height: 247px;" />
                </div>
            </div>
        </div>
    </div>
</section>
<!--我们的优势结果--><!--方法论-->
<section>
    <div class="Method_box">
        <div class="wrapper">
            <div class="first_advantage_tit">
                <h3>
                    方法论
                </h3>
                <p>
                    <img alt="" src="/uploads/allimg/180131/1-1P131092255500.png" />
                </p>
                <p class="font_tips">
                    连接生产、供应、销售的中转站，对促进生产提高效率起着重要的辅助作用。
                </p>
            </div>
            <div class="Method_list">
                <figure class="clearfix">
                    <div class="Method_list_img">
                        <img alt="" src="/uploads/allimg/180308/17-1P30Q34049330.jpg" style="width: 420px; height: 276px;" />
                    </div>
                    <div class="Method_list_msg">
                        <h4>
                            追
                        </h4>
                        <p>
                            具备资讯追溯能力;
                        </p>
                        <p>
                            与供应商生产排配与实际出货状况相衔接;
                        </p>
                        <p>
                            前伸至物流运输与供应商生产出货状况;
                        </p>
                    </div>
                    <div class="Method_list_pos">
                        1
                    </div>
                </figure>
                <figure class="clearfix Method_two">
                    <div class="Method_list_img">
                        <img alt="" src="/uploads/allimg/180308/17-1P30Q34505E6.jpg" style="width: 420px; height: 276px;" />
                    </div>
                    <div class="Method_list_msg">
                        <h4>
                            收
                        </h4>
                        <p>
                            确认此货物是否今日此时该收进;
                        </p>
                        <p>
                            缺认无误，方可收进;
                        </p>
                        <p>
                            如系统不接授，应及时找相关部门查明原因，确认此货物是否收进;
                        </p>
                    </div>
                    <div class="Method_list_pos">
                        2
                    </div>
                </figure>
                <figure class="clearfix">
                    <div class="Method_list_img">
                        <img alt="" src="/uploads/allimg/180308/17-1P30Q34G64M.jpg" style="width: 420px; height: 276px;" />
                    </div>
                    <div class="Method_list_msg">
                        <h4>
                            储
                        </h4>
                        <p>
                            物料进仓做到不落地;
                        </p>
                        <p>
                            每一种物料只能有一个散数箱;
                        </p>
                        <p>
                            做到储位（Bin-Location）管制;
                        </p>
                        <p>
                            做到NoPickList（工令备检单）;
                        </p>
                    </div>
                    <div class="Method_list_pos">
                        3
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>
<!--方法论结束--><!--我们正在运作的品牌-->
<section>
    <div class="brand_operate_box">
        <div class="first_advantage_tit">
            <h3>
                我们正在运作的品牌
            </h3>
            <p>
                <img alt="" src="/uploads/allimg/180131/1-1P131092412646.png" />
            </p>
        </div>
        <div class="wrapper">
            <div class="brand_operate_info">
                <img alt="" src="/uploads/allimg/180131/1-1P131092435U6.jpg" />
            </div>
        </div>
    </div>
</section>
<!--我们正在运作的品牌结束-->