
@{
    ViewBag.Title = "越南专线";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
<div class="page_banner">
    <!--banner-->
    <div class="detail_banner_box detail_banner_nf">
        <div class="wrapper">
            <h2>
                越南专线
            </h2>
            <p class="animated bounceInDown go">
                <span class="bg_opt">越南专线&mdash;&mdash;Vietnam</span>
            </p>
        </div>
    </div>
    <!--banner结束-->
</div>
<section>
    <div class="ups_info_box">
        <div class="wrapper">
            <h1 class="title">
                越南专线
            </h1>
            <!--产品名称-->
            <figure class="item_info">
                <h3>
                    <span>产品名称</span> <em>product name</em>
                </h3>
                <div class="item_info_msg">
                    <p>
                        越南专线&mdash;&mdash;Vietnam
                    </p>
                </div>
            </figure>
            <!--产品名称结束--><!--产品时效-->
            <figure class="item_info">
                <h3>
                    <span>产品时效</span> <em>Product Aging</em>
                </h3>
                <div class="item_info_msg product_msg_detail nf_msg_detail">
                    <ul class="clearfix">
                        <li class="bor_rd">
                            <h5>
                                上海/南宁-河内、海阳、海防
                            </h5>
                            <p>
                                4-5个工作日
                            </p>
                        </li>
                        <li class="bor_rd">
                            <h5>
                                上海/南宁-北宁、河南、河西、永福、北江、兴安
                            </h5>
                            <p>
                                4-5个工作日
                            </p>
                        </li>
                        <li class="bor_rd">
                            <h5>
                                胡志明
                            </h5>
                            <p>
                                8个工作日
                            </p>
                        </li>
                    </ul>
                </div>
            </figure>
            <!--产品时效结束--><!--可运城市-->
            <figure class="item_info">
                <h3>
                    <span>可运城市</span> <em>country of destination</em>
                </h3>
                <div class="item_info_msg ky_city">
                    <p class="text_l">
                        河内、海阳、海防、北宁、河南、河西、永福、北江、兴安、胡志明等越南全境
                    </p>
                </div>
            </figure>
            <!--可运城市结束--><!--产品概述-->
            <figure class="item_info">
                <h3>
                    <span>产品概述</span> <em>product overview</em>
                </h3>
                <div class="Product_overview clearfix">
                    <div class="Product_overview_img">
                        <img alt="" src="/uploads/allimg/180201/17-1P20116015B64.jpg" style="width: 324px; height: 189px;" />
                    </div>
                    <div class="Product_overview_info">
                        <p>
                            该产品时效稳定，提供门到门的一条龙服务，操作规范快捷入仓，傲视同行的清关能力。
                        </p>
                        <p>
                            此产品在时效上有明显优势，华东直达+目的地配送，双清关。
                        </p>
                    </div>
                </div>
            </figure>
            <!--产品概述结束--><!--特色优势-->
            <figure class="item_info mar40">
                <h3>
                    <span>特色优势</span> <em>feature and advantages</em>
                </h3>
                <div class="feature_list clearfix">
                    <ul class="clearfix">
                        <li>
                            <div class="feature_list_img">
                                <img alt="" src="/image/feature4.png" style="width: 80px; height: 80px;" />
                            </div>
                            <div class="feature_list_info">
                                <h4>
                                    时效快
                                </h4>
                                <p>
                                    最快可在2-7天妥投，全程时间只有国际快递一半左右
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="feature_list_img">
                                <img alt="" src="/image/feature2.png" style="width: 81px; height: 80px;" />
                            </div>
                            <div class="feature_list_info">
                                <h4>
                                    运力稳定
                                </h4>
                                <p>
                                    上海飞香港，香港直飞约堡，最快3天即可实现从上海到约翰内斯堡到门服务
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </figure>
            <!--特色优势结束--><!--承运规则-->
            <figure class="item_info">
                <h3>
                    <span>承运规则</span> <em>transportation regulation</em>
                </h3>
                <div class="item_info_msg">
                    <p>
                        1.货物重量为50Kg以上；
                    </p>
                    <p>
                        2.货物单箱最大重量为30Kg，超过者不予接收；
                    </p>
                    <p>
                        3.单件货物单边最大长度175 cm；
                    </p>
                    <p>
                        4.单件货物三边（长宽高）周长小于300CM；
                    </p>
                    <p>
                        5.单票不限重；
                    </p>
                    <p>
                        6.此产品不接危险物品和侵权物品，以及国家明令禁止托运的其它限制物品；
                    </p>
                    <p>
                        7.包裹外包装不得出现任何危险品标签；
                    </p>
                    <p>
                        8.快递运单号码，需要标在每件货物上；
                    </p>
                    <p>
                        9.磁检货物收费标准：200元上门费用，1元/KG或20/箱；
                    </p>
                    <p>
                        10.包裹计费，以每箱计费重量查表，之后累加。
                    </p>
                    <p>
                        *注意*此包税产品，并不是包清关产品，要求申报产品与实际的产品必须相符(包括不虚报产品品名、不故意低报产品价值，不故意少报产品数量，必须提供 产品真实图片等)
                    </p>
                </div>
            </figure>
            <!--承运规则结束--><!--产品限制-->
            <figure class="item_info mar40">
                <h3>
                    <span>产品限制</span> <em>Product Restriction</em>
                </h3>
                <div class="item_info_msg">
                    <p>
                        不接危险品
                    </p>
                </div>
            </figure>
            <!--产品限制结束--><!--收货方式-->
            <figure class="item_info">
                <h3>
                    <span>收货方式</span> <em>mode of RECEIVING</em>
                </h3>
                <div class="item_info_msg">
                    <p>
                        提供门到门，上门收货，详情请致电了解13788682003 24小时（可能会收取一定费用）。
                    </p>
                </div>
            </figure>
            <!--收货方式结束--><!--可能的附加费用-->
            <figure class="item_info">
                <h3>
                    <span>可能的附加费用</span> <em>additional charges</em>
                </h3>
                <div class="item_info_msg">
                    <p>
                        越南当地的货物关税。
                    </p>
                </div>
            </figure>
            <!--可能的附加费用结束--><!--操作流程-->
            <figure class="item_info">
                <h3>
                    <span>操作流程</span> <em>operation procedure</em>
                </h3>
                <div class="operation_list operation_list_five">
                    <ul class="clearfix">
                        <li>
                            <div class="operation_list_img">
                                <img alt="" src="/image/opera2.png" style="width: 40px; height: 40px;" />
                            </div>
                            <div class="operation_list_info">
                                <p>
                                    上门收货
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="operation_list_img">
                                <img alt="" src="/image/opera9.png" style="width: 40px; height: 40px;" />
                            </div>
                            <div class="operation_list_info">
                                <p>
                                    入库、包裹分类
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="operation_list_img">
                                <img alt="" src="/image/opera6.png" style="width: 40px; height: 40px;" />
                            </div>
                            <div class="operation_list_info">
                                <p>
                                    跨国运输
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="operation_list_img">
                                <img alt="" src="/image/opera5.png" style="width: 40px; height: 40px;" />
                            </div>
                            <div class="operation_list_info">
                                <p>
                                    清关
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="operation_list_img">
                                <img alt="" src="/image/opera8.png" style="width: 40px; height: 40px;" />
                            </div>
                            <div class="operation_list_info">
                                <p>
                                    目的国派送
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </figure>
            <!--操作流程结束-->
        </div>
    </div>
</section>
<br />
