
@{
    ViewBag.Title = "CMS || 设置权限菜单";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Scripts/assets/plugins/jstree/themes/default/style.min.css" />

<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- /.modal -->
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN STYLE CUSTOMIZER -->
<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Home/Index">首页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="/Menu/SetRole">权限管理</a><i class="fa fa-angle-right"></i></li>
            <li class="active">设置权限菜单</li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- CONTENT BODY GOES HERE >>>> -->
<!-- END PAGE CONTENT-->
<div class="row">
    <div class="col-md-6">
        <div class="portlet purple box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>设置权限菜单
                </div>
            </div>
            <div class="portlet-body">
                <div class="tree-item">
                    <div id="tree_2" class="tree-demo">
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="pid" value="@ViewBag.pid" />
        <div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body" id="resultShow">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <a id="linkbasic" class="btn default" data-toggle="modal" href="#basic" style="display:none">提示框</a>
        <div class="actions">
            <a id="btnAdd" href="javascript:;" class="btn blue" onclick="getMenuIds()">确定</a>
        </div>
    </div>
</div>

<script src="~/Scripts/assets/plugins/jstree/jstree.js"></script>

<script>
jQuery(document).ready(function() {
    setClass("RoleList", "RoleList");
    console.log(@Html.Raw(ViewData["menu"].ToString()));
    $("#tree_2").jstree({
        'core': {
            "multiple": true,
            'data': @Html.Raw(ViewData["menu"].ToString()),
            'dblclick_toggle': false          //禁用tree的双击展开
        },
        "plugins": ["checkbox"]
    });
    //隐藏图标
    $('#tree_2').jstree().hide_icons();
    $('#tree_2').jstree("select_node", "1");
});
    function getMenuIds(){

        //取得所有选中的节点，返回节点对象的集合
        $("#resultShow").html("正在设置权限菜单,请稍等.");
        $("#linkbasic").click();
        var ids="";
        var nodes=$("#tree_2").jstree().get_all_checked(true); //使用get_checked方法
        $.each(nodes, function(i, n) {
            ids += $(n).attr("id")+",";
        });
        console.log(ids);

        ids=ids.substring(0,ids.length-1);
        console.log(ids);

        $.ajax({
            type: "post", //要用post方式
            data: "{'id':'" + ids + "','pid':'" + $("#pid").val() + "'}",
            url: "/Menu/SetRoleMenu",//方法所在页面和方法名
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data == "1") {
                    $("#resultShow").html("已经成功设置权限菜单");
                }
                else {
                    $("#resultShow").html("设置权限菜单失败");
                }
            },
            error: function (err) {
                alert(err);
            }
        });
    }
</script>
