@charset "UTF-8";
*{margin:0;padding:0;box-sizing:border-box;}
/* 2017-05-02 new citySelect pule*/
.citySelector{font:12px/1.5 tahoma,arial,\5b8b\4f53;background:#fff;text-align:left;}
.cityslide{width:300px;list-style:none;margin:0;padding:0;border:1px solid #B3CDC0;box-shadow:2px 2px 3px rgba(0,0,0,0.3);overflow:auto;max-height:300px;}
.cityslide li{list-style:none;overflow:hidden;height:30px;padding:0px 10px;line-height:30px;}
.cityslide li.on{background:#6583fb;color:#fff;cursor:pointer;}
.cityslide li:hover{background:#6583fb;color:#fff;cursor:pointer;}
.cityslide li b{font-weight:normal;}
.cityslide li.empty{background:#fff2e8;color:#666;}
.cityslide li.empty em{color:red;font-style:normal;}
.cityname{float:left;}
.cityspell{float:right;}
.cityBox{width:400px;border:1px solid #b7b7b7;overflow:hidden;box-shadow:2px 2px 3px rgba(0,0,0,0.1);}
.cityBox ul {margin:0;padding:0;overflow:hidden;}
.cityBox ul li:first-child{margin-left:5px;}
.cityBox ul li{float:left;list-style:none;padding:5px;border-bottom:1px solid #DDD;cursor:pointer;display:inline;color:#000;}
.cityBox ul li.on{border-bottom-color:#6583fb;position:relative; color: #6583fb;}
.hide{display:none;}
p.cityTip{color:#999;line-height:20px;padding:5px;margin:0;text-indent:3px;}
.cityList{border-top:1px solid #DDD;margin-top:-1px;clear:left;overflow:hidden;padding-bottom:10px;padding-top:10px;_margin-bottom:8px;}
.cityTab{overflow:hidden;}
.cityTab dl{margin:0;padding:0 0 0 10px;overflow:hidden;}
.cityTab dl dt{float:left;padding-left:3px;color:#6583fb;margin-top:1px;text-indent:5px;font-family:"Lucida console","consolas","courier new";line-height:25px;font-size:14px;width:20px;}
.cityTab dl dd{margin-left:2px;float:left;width:335px;}
.cityTab dl dd a{padding-left:5px;line-height:25px;display:inline-block;color:#333;text-decoration:none;cursor: pointer;text-align: center;padding: 0 8px;}
.cityTab dl dd a:hover,.cityTab dl dd a.action{color:#fff;background: #00AFE8;}
.cityinput{ font-size: 12px; padding-left: 2px;  border: 1px solid #D8D8D8; }
/*new citySelect pule END*/
.countrySelector,.citySelector{font:12px/1.5 tahoma,arial,\5b8b\4f53;background:#fff;text-align:left;}
.countryslide,.cityslide{width:300px;list-style:none;margin:0;padding:0;border:1px solid #B3CDC0;box-shadow:2px 2px 3px rgba(0,0,0,0.3);overflow:auto;max-height:300px;}
.countryslide li,.cityslide li{list-style:none;overflow:hidden;height:30px;padding:0px 10px;line-height:30px;}
.countryslide li.on,.cityslide li.on{background:#6583fb;color:#fff;cursor:pointer;}
.countryslide li:hover,.cityslide li:hover{background:#6583fb;color:#fff;cursor:pointer;}
.countryslide li b,.cityslide li b{font-weight:normal;}
.countryslide li.empty,.cityslide li.empty{background:#fff2e8;color:#666;}
.countryslide li.empty em,.cityslide li.empty em{color:red;font-style:normal;}
.countryname,.cityname{float:left;}
.countryspell,.cityspell{float:right;}
.countryBox,.cityBox{width:400px;border:1px solid #b7b7b7;overflow:hidden;box-shadow:2px 2px 3px rgba(0,0,0,0.1);}
.countryBox ul,.cityBox ul {margin:0;padding:0;overflow:hidden;}
.countryBox ul li:first-child,.cityBox ul li:first-child{margin-left:5px;}
.countryBox ul li,.cityBox ul li{float:left;list-style:none;padding:5px;border-bottom:1px solid #DDD;cursor:pointer;display:inline;color:#000;}
.countryBox ul li.on,.cityBox ul li.on{border-bottom-color:#00AFE8;position:relative; color: #00AFE8;}
.hide{display:none;}
p.cityTip{color:#999;line-height:20px;padding:5px;margin:0;text-indent:3px;}
.hotCountry,.hotCity{border-top:1px solid #DDD;margin-top:-1px;clear:left;overflow:hidden;padding-bottom:10px;padding-top:10px;_margin-bottom:8px;}
.countryTab,.cityTab{overflow:hidden;}
.countryTab dl,.cityTab dl{margin:0;padding:0 0 0 10px;overflow:hidden;}
.countryTab dl dt,.cityTab dl dt{float:left;padding-left:3px;color:#00AFE8;margin-top:1px;text-indent:5px;font-family:"Lucida console","consolas","courier new";line-height:25px;font-size:14px;width:20px;}
.countryTab dl dd,.cityTab dl dd{margin-left:2px;float:left;width:335px;}
.countryTab dl dd a,.cityTab dl dd a{padding-left:5px;line-height:25px;display:inline-block;color:#333;text-decoration:none;cursor: pointer;text-align: center;padding: 0 8px;}
.countryTab dl dd a:hover,.countryTab dl dd a.action,.cityTab dl dd a:hover,.cityTab dl dd a.action{color:#fff;background: #00AFE8;}
.countryinput,.cityinput{ font-size: 12px; padding-left: 2px;  border: 1px solid #D8D8D8; }

