<?xml version="1.0" encoding="utf-8"?>

<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--缓存配置-->
  <add key="RedisServer" value="127.0.0.1:6379" />
  <add key="XRedisDB" value="0" />
  <add key="REDIS_CACHE_PASSWORD" value="" />
</appSettings>

